@import '../assets/sass/_variables.scss';
@import '../assets/sass/_mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $body-color;
  font-family: 'Montserrat', sans-serif;
}

p {
  color: $text-color;
}

.button {
  background-image: $gradient-color;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 4px $shading;
  cursor: pointer;
}

.grid-father {
  @include createColumnGrid(30px, 1fr, 30px);
}

.grid-son {
  grid-column-start: 2;
  grid-column-end: 3;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: $first-color;
  border-radius: 2px;
}

.return-top {
  background-color: $card-color;
  border-radius: 5px;
  padding: 5px;

  position: fixed;
  bottom: 30px;
  right: 30px;
}

.error__data__API {
  margin: 30px 0;
  background-color: #ff8585;
  border-radius: 3px;
  padding: 15px;
  @include displayGapContainer(grid, 10px);
}

.main__error {
  color: $white-color;
  text-align: center;
  @include displayContainer(grid, center, center);
  .header__error {
    justify-content: center;
    align-items: center;
    @include flexContainerMainAxies();
  }

  p {
    color: $white-color;
  }
}

@media screen and (min-width: 420px) and (max-width: 768px) {
  .grid-father {
    @include createColumnGrid(60px, 1fr, 60px);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .grid-father {
    @include createColumnGrid(110px, 1fr, 110px);
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .grid-father {
    @include createColumnGrid(160px, 1fr, 160px);
  }
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .grid-father {
    @include createColumnGrid(200px, 1fr, 200px);
  }
}

@media screen and (min-width: 2561px) {
  .grid-father {
    @include createColumnGrid(250px, 1fr, 250px);
  }
}
