@import '../../assets/sass/_variables.scss';
@import '../../assets/sass/_mixins.scss';

.menu__header {
  margin: 30px 0;
  @include displayContainer(flex, space-between, center);

  a {
    color: $text-color;
    text-decoration: none;
  }

  .menu__header--navBar {
    img {
      width: 25px;
    }

    .menu__header--navBar-a {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: $body-color;
      box-shadow: 3px 3px 6px $shading;
      transition: all 2s;

      img {
        float: right;
        margin: 20px;
        margin-left: 0;
        width: 25px;
      }

      .menu__header--navBar-a-items {
        margin: 40px;
        margin-top: 60px;
        gap: 20px;
        align-items: center;
        @include flexContainerMainAxies;

        a {
          text-transform: capitalize;
          font-weight: bold;
        }
      }
    }
  }
  .menu__header--navBar-a-items-desktop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu__header {
    margin: 60px 0;

    .menu__header--navBar {
      display: none;
    }

    .menu__header--navBar-a-items-desktop {
      @include displayGapContainer(flex, 20px);
    }
  }
} ;
