$first-color: #70cdaf;
$second-color: #ade792;
$card-color: #d7e4e5;
$text-color: #434242;
$text-color-light: #767474;
$body-color: #eff5f5;
$gradient-color: linear-gradient(90deg, $first-color 0%, $second-color 100%);
$white-color: #fff;
$shading: #ccc;
$transparent: #8d8d8de2;
